@import "tailwindcss";

* {
  box-sizing: border-box;
  /* font-family: sans-serif; */
  outline: none;
}

:root {
  --boxShadow-light: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  --primary: #008ECC;
  --primary-light: #F3F9FB;
}

.centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  background-color: white;
  box-shadow: var(--boxShadow-light);
  border-radius: 8px;
  padding: 10px;
}
.boxShadow-light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}

body {
  background-color: #f6f3f4;
}
