@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  outline: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --boxShadow-light: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  --primary: #008ecc;
  --primary-light: #f3f9fb;
  --border-light: #d8d8d8;
  --custom-font: "Pacifico", cursive;
}

.centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  background-color: white;
  box-shadow: var(--boxShadow-light);
  border-radius: 8px;
  padding: 10px;
}
.boxShadow-light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}

body {
  background-color: #f6f3f4;
}
