@media screen and (max-width: 550px) {
  .errorPage h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 400px) {
  .errorPage h1 {
    font-size: 20px;
  }
  .errorPage img {
    width: 250px;
  }

  .errorPage p {
    font-size: 15px;
  }
  .errorPage button {
    padding: 8px 18px;
  }
}
