@media screen and (max-width: 1265px) {
  .contact_container {
    gap: 30px;
  }
  .contact_container .image_container {
    height: 400px;
  }
  .contact_container .rowElement div {
    width: 100%;
  }
}
@media screen and (max-width: 1069px) {
  .contactUs_container {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .contactUs_container {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .contact_container .image_container {
    height: 300px;
  }
  .contactUs_container {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .contact_container .image_container {
    height: 250px;
  }
  .contactUs_container {
    width: 96%;
  }
}
