.navbar .active {
  color: var(--primary);
}

.navbar .ulIcons {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar ul {
    gap: 18px;
  }
  .navbar ul li {
    font-size: 15px;
  }
  .navbar .search_container {
    width: 240px;
  }

  .theme_container,
  .cart_container,
  .user_container {
    font-size: 18px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    column-gap: 20px;
    row-gap: 0px;
    padding: 5px 20px;
  }
  .navbar ul {
    gap: 18px;
  }
  .navbar ul li {
    font-size: 17px;
  }
  .navbar .search_container {
    width: 288px;
  }

  .theme_container,
  .cart_container,
  .user_container {
    font-size: 20px;
  }
}

@media screen and (max-width: 1090px) {
  .navbar {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 10px 20px;
  }
  .navbar ul {
    gap: 18px;
    width: 90%;
  }
  .navbar ul li {
    font-size: 17px;
  }
  .navbar .search_container {
    width: 300px;
  }

  .theme_container,
  .cart_container,
  .user_container {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 30px;
    /* padding-left: 93px; */
  }
  .navbar .ulIcons {
    display: block;
  }
  .navBar {
    display: flex;
  }
  .navbar ul {
    border-radius: 8px;
    gap: 20px;
    width: max-content;
    justify-content: start;
    align-items: flex-start;
    padding: 10px 25px;
    padding-top: 60px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f6f3f4;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15),
      -8px -8px 15px rgba(255, 255, 255, 0.5);
    display: none;
  }
  .bars_container {
    display: flex;
  }
  .navbar ul li {
    font-size: 17px;
  }
  .navbar .search_container {
    width: 50vw;
    padding: 5px 10px;
  }

  .theme_container,
  .cart_container,
  .user_container {
    font-size: 25px;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 10px 20px;
  }
  nav .dropContainer {
    font-size: 14px;
    width: max-content;
  }
  .dropContainer ul {
    gap: 5px;
  }
}
@media screen and (max-width: 550px) {
  .navbar {
    padding: 10px 15px;
  }
  .bars_container i {
    font-size: 25px;
  }
  .navbar .search_container {
    padding: 3px 6px;
    border-radius: 6px;
  }
  .userSection {
    gap: 20px;
  }
  .theme_container,
  .cart_container,
  .user_container {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    padding: 5px 15px;
    gap: 12px;
  }
  .bars_container i {
    font-size: 25px;
  }
  .navbar .search_container {
    padding: 3px 6px;
    border-radius: 6px;
  }
  .userSection {
    gap: 18px;
  }
  .theme_container,
  .cart_container,
  .user_container {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    padding: 5px 15px;
    gap: 12px;
  }
  .bars_container i {
    font-size: 23px;
  }
  .navLogo {
    width: 50px;
  }
  .navbar .search_container {
    padding: 3px 6px;
    border-radius: 6px;
  }
  .userSection {
    gap: 15px;
  }
  .theme_container,
  .cart_container,
  .user_container {
    font-size: 16px;
  }
}
